*{
	margin:0px;
	padding:0px;
}

.box{
	width:80%;
	height:750px;
	border:1px solid silver;
	margin-left:10%;
	background-color:#F1F1F1;
	
}
#header{
	height:50px;
}
.welcome {
	height: 50px; margin-top : 40px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}
.infor{
	width:200px;
	height:680px;
	border:1px solid silver;
	margin-top:10px;
	margin-left:20px;
	float:left;
	background-color:#FAEBD7;
	
}
.mune{
	width:780px;
	height:30px;
	float:left;
	margin-top:10px;
	margin-left:20px;
	/* border:1px solid silver; */
}

.bottom{
	width:920px;
	height:100px;
/* 	border:1px solid silver; */
	margin-left:20px;
	margin-top:20px;
}

.photo{
	width:160px;
	height:190px;
	
	margin-top:5px;
	margin-left:22px;	
}
.p{
	font-size:12px;
	color:#6495ED;
	margin-top:30px;
	margin-left:30px;
	
}
.p :link{
	text-decoration:none;
	color:gray:
}
.p :hover{
	text-decoration:underline;
	color:gray;
	
}
image .pic{
	width:160px;
	heigth:190px;
}
ul{
width:780px;
}
ul li{
	margin-right:2px;
	font-size:20px;
	list-style-type:none;
	float:left;


}
ul li button{
	font-size:16px;
	width:128px;
	height:30px;
	background-color:gray;
	border:0px;
	cursor:pointer;
	padding-bottom:5px;
	color:white;
	
}
ul li .mune1{
	background-color:#E9967A;
	
}
ul li .mune2{
	background-color:#DEB887;
}
ul li .mune3{
	background-color:#20B2AA;
	
}
ul li .mune4{
	background-color:#BDB76B;
}
ul li .mune5{
	background-color:#4682B4;
	
}
ul li .mune6{
	background-color:#6495ED;
}
.content1{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:white;
	
}
.content2{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:#DEB887;
}
.content3{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:#20B2AA;
}
.content4{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:#BDB76B;
}
.content5{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:#4682B4;
}
.content6{
	width:780px;
	height:600px;
	border-top:none;
	margin-left:242px;
	margin-top:40px;
	background-color:#6495ED;
}





