<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.ApplyAdminMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.entity.ApplyInfo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="USER_ID" jdbcType="CHAR" property="userId" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="USER_HOTELID" jdbcType="CHAR" property="hotelId" />
		<result column="USER_ROLENAME" jdbcType="VARCHAR" property="roleName" />
		<result column="USER_APPLYROLE" jdbcType="VARCHAR" property="applyRole" />
		<result column="USER_EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="APPLY_DATE" jdbcType="DATE" property="applyDate" />
		<result column="CONFIRM_DATE" jdbcType="DATE" property="confirmDate" />
		<result column="APPLY_PASS" jdbcType="CHAR" property="flag" />
		

	</resultMap>


	<sql id="Base_Column_List">
		ID,USER_ID,USER_NAME,USER_HOTELID,USER_ROLENAME,USER_APPLYROLE,USER_EMAIL,APPLY_DATE,CONFIRM_DATE,APPLY_PASS
	</sql>

	<select id="getAllApplyList" resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bapply where APPLY_PASS='0'

	</select>

	<select id="getTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM bapply
	</select>

	<select id="getApplyListByHotelId" parameterType="java.lang.String"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bapply where USER_HOTELID = #{hotelId};

	</select>

	<delete id="deleteApplyById" parameterType="java.lang.String">
		delete from
		bapply where
		 ID= #{id}
	</delete>

	<insert id="addApply" parameterType="com.hotel.backend.entity.ApplyInfo">

		INSERT INTO
		bapply
		(ID,USER_ID,USER_NAME,USER_HOTELID,USER_ROLENAME,USER_APPLYROLE,USER_EMAIL,APPLY_DATE,CONFIRM_DATE,APPLY_PASS)
		VALUES
		(#{id},#{userId},#{userName},#{hotelId},#{roleName},#{applyRole},#{email},#{applyDate},#{confirmDate},#{flag})

	</insert>

	<update id="updateApply" parameterType="com.hotel.backend.entity.Facilities">
		update bapply
		set
		APPLY_PASS = #{flag},
		CONFIRM_DATE = #{confirmDate}
		where
		USER_ID=#{userId}
	</update>

</mapper>


