<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.HotelTrafficMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.entity.Traffic">
		<id column="TRAFFIC_ID" jdbcType="CHAR" property="id" />
		<result column="TRAFFIC_NAME" jdbcType="VARCHAR" property="name" />
		<result column="TRAFFIC_TYPE" jdbcType="VARCHAR" property="type" />
		<result column="TRAFFIC_PRICE" jdbcType="FLOAT" property="price" />
		<result column="TRAFFIC_STARTTIME" jdbcType="VARCHAR" property="startTime" />
		<result column="TRAFFIC_PASS" jdbcType="VARCHAR" property="pass" />
		<result column="TRAFFIC_ENDTIIME" jdbcType="VARCHAR" property="endTime" />
		<result column="TRAFFIC_STARTSTATION" jdbcType="VARCHAR"
			property="startStation" />
		<result column="TRAFFIC_ENDSTATION" jdbcType="VARCHAR"
			property="endStation" />
		<result column="TRAFFIC_DESC" jdbcType="VARCHAR" property="description" />

	</resultMap>


	<sql id="Base_Column_List">
		bTraffic.TRAFFIC_ID,TRAFFIC_NAME,TRAFFIC_TYPE,TRAFFIC_PRICE,TRAFFIC_STARTTIME,TRAFFIC_PASS,TRAFFIC_ENDTIIME,
		TRAFFIC_STARTSTATION,TRAFFIC_ENDSTATION,TRAFFIC_DESC
	</sql>

	<select id="getTrafficList" resultMap="BaseResultMap"
		parameterType="map">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bTraffic limit
		#{startIndex},#{pageSize}

	</select>

	<select id="getTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		BTraffic
	</select>

	<select id="getTrafficListByHotelId" parameterType="java.lang.String"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bTraffic,l_Traffic_hotel where
		l_Traffic_hotel.TRAFFIC_ID =
		bTraffic.TRAFFIC_ID and
		l_Traffic_hotel.HOTEL_ID = #{hotelId};

	</select>

	<delete id="deleteTrafficById" parameterType="java.lang.String">
		delete from
		bTraffic where
		TRAFFIC_ID= #{trafficId}
	</delete>

	<insert id="addTraffic" parameterType="com.hotel.backend.entity.Traffic">

		INSERT INTO
		bTraffic
		(TRAFFIC_ID,TRAFFIC_NAME,TRAFFIC_TYPE,TRAFFIC_PRICE,TRAFFIC_STARTTIME,TRAFFIC_PASS,TRAFFIC_ENDTIIME,
		TRAFFIC_STARTSTATION,TRAFFIC_ENDSTATION,TRAFFIC_DESC)
		VALUES
		(#{id},#{name},#{type},#{price},#{startTime},#{pass},#{endTime},#{startStation},#{endStation},#{description})

	</insert>

	<update id="updateTraffic" parameterType="com.hotel.backend.entity.Traffic">
		update bTraffic
		set
		TRAFFIC_NAME = #{name},
		TRAFFIC_TYPE = #{type},
		TRAFFIC_PRICE = #{price},
		TRAFFIC_STARTTIME = #{startTime},
		TRAFFIC_PASS = #{pass},
		TRAFFIC_ENDTIIME = #{endTime},
		TRAFFIC_STARTSTATION = #{startStation},
		TRAFFIC_ENDSTATION = #{endStation},
		TRAFFIC_DESC = #{description}
		where
		TRAFFIC_ID=#{id}
	</update>

</mapper>


