<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.HotelFoodMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.entity.Food">
		<id column="FD_ID" jdbcType="CHAR" property="id" />
		<result column="FD_NAME" jdbcType="VARCHAR" property="name" />
		<result column="FD_PHOTO" jdbcType="VARCHAR" property="photo" />
		<result column="FD_TYPE" jdbcType="VARCHAR" property="type" />
		<result column="FD_PRICE" jdbcType="FLOAT" property="price" />
		<result column="FD_DESC" jdbcType="VARCHAR" property="description" />
		<result column="FD_ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="FD_ROUT" jdbcType="VARCHAR" property="rout" />
        <result column="FD_STATUS" jdbcType="VARCHAR" property="status" />
	</resultMap>


	<sql id="Base_Column_List">
		bfood.FD_ID,FD_NAME,FD_PHOTO,FD_TYPE,FD_PRICE,FD_DESC,FD_ADDRESS,FD_ROUT,FD_STATUS
	</sql>

	<select id="getFoodListPaged" resultMap="BaseResultMap"
		parameterType="map">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bfood limit
		#{startIndex},#{pageSize}

	</select>
	<select id="getAllFoodList" resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bfood

	</select>

	<select id="getTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BFOOD
	</select>

	<select id="getFoodListByHotelId" parameterType="java.lang.String"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bfood,l_food_hotel where
		l_food_hotel.FD_ID =
		bfood.FD_ID and
		l_food_hotel.HOTEL_ID = #{hotelId};

	</select>

	<delete id="deleteFoodById" parameterType="java.lang.String">
		delete from
		bfood where
		FD_ID= #{foodId}
	</delete>

	<insert id="addFood" parameterType="com.hotel.backend.entity.Food">

		INSERT INTO
		bfood
		(FD_ID,FD_NAME,FD_PHOTO,FD_TYPE,FD_PRICE,FD_DESC,FD_ADDRESS,FD_ROUT,FD_STATUS)
		VALUES
		(#{id},#{name},#{photo},#{type},#{price},#{description},#{address},#{rout},#{status})

	</insert>

	<update id="updateFood" parameterType="com.hotel.backend.entity.Food">
		update bfood
		set
		FD_NAME =
		#{name},
		FD_TYPE =
		#{type},
		FD_PRICE = #{price},
		FD_DESC = #{description},
		FD_ADDRESS = #{address},
		FD_ROUT= #{rout},
		FD_STATUS = {status}
		where
		FD_ID=#{id}
	</update>


	<update id="uploadFoodPhoto" parameterType="map">
		update bfood
		set
		FD_PHOTO = #{photo}
		where
		FD_ID=#{id}
	</update>
    <update id="changeStatusById" parameterType="map">
		update bfood
		set
		FD_STATUS = #{status}
		where
		FD_ID=#{id}
	</update>


</mapper>


