<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.HotelMarketMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.entity.Market">
		<id column="MKT_ID" jdbcType="CHAR" property="id" />
		<result column="MKT_NAME" jdbcType="VARCHAR" property="name" />
		<result column="MKT_ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="MKT_AWAY" jdbcType="VARCHAR" property="away" />
		<result column="MKT_ROUT" jdbcType="VARCHAR" property="rout" />
		<result column="MKT_DESC" jdbcType="VARCHAR" property="description" />
		<result column="MKT_STATUS" jdbcType="VARCHAR" property="status" />
		

	</resultMap>


	<sql id="Base_Column_List">
		bsupermarket.MKT_ID,MKT_NAME,MKT_ADDRESS,MKT_AWAY,MKT_ROUT,MKT_DESC,MKT_STATUS
	</sql>

	<select id="getMarketListPaged" resultMap="BaseResultMap" parameterType="map">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bsupermarket,l_mkt_hotel where
		l_mkt_hotel.mkt_ID =
		bsupermarket.MKT_ID limit #{startIndex},#{pageSize}

	</select>
	<select id="getAllMarketList" resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bsupermarket

	</select>
	
	<select id="getTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM bsupermarket
	</select>

	<select id="getMarketListByHotelId" parameterType="java.lang.String"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		bsupermarket,l_mkt_hotel where
		l_mkt_hotel.MKT_ID =
		bsupermarket.MKT_ID and l_mkt_hotel.HOTEL_ID = #{hotelId};

	</select>

	<delete id="deleteMarketById" parameterType="java.lang.String">
		delete from
		bsupermarket where MKT_ID= #{mktId}
	</delete>

	<insert id="addMkt" parameterType="com.hotel.backend.entity.Market">

		INSERT INTO
		bsupermarket
		(MKT_ID,MKT_NAME,MKT_ADDRESS,MKT_AWAY,MKT_DESC,MKT_ROUT,MKT_STATUS)
		VALUES
		(#{id},#{name},#{address},#{away},#{description},#{rout},#{status})

	</insert>
	
	<update id="updateMkt" parameterType="com.hotel.backend.entity.Market">
	update bsupermarket
		set
		MKT_NAME = #{name},
		MKT_DESC = #{description},
		MKT_ADDRESS = #{address},
		MKT_ROUT = #{rout},
		MKT_AWAY = #{away},
		MKT_STATUS = #{status}
		where
		MKT_ID=#{id}

	</update>

</mapper>


