<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.IDCFacilitiesMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.view.IDCFacilities">
		<id column="FACILITIES_ID" jdbcType="CHAR" property="id" />
		<result column="FACILITIES_NAME" jdbcType="VARCHAR" property="name" />
		<result column="FACILITIES_TYPE" jdbcType="VARCHAR" property="type" />
		<result column="FACILITIES_PRICE" jdbcType="FLOAT" property="price" />
		<result column="FACILITIES_DESC" jdbcType="VARCHAR" property="description" />
		<result column="FACILITIES_AWAY" jdbcType="VARCHAR" property="away" />
		<result column="HOTEL_ID" jdbcType="VARCHAR" property="hotelId" />
		<result column="HOTEL_NAME" jdbcType="VARCHAR" property="hotelName" />
		<result column="FACILITIES_STATUS" jdbcType="VARCHAR" property="status" />

	</resultMap>


	<sql id="Base_Column_List">
		BFACILITIES.FACILITIES_ID,FACILITIES_NAME,FACILITIES_TYPE,FACILITIES_PRICE,FACILITIES_DESC,FACILITIES_AWAY,BFACILITIES.FACILITIES_STATUS,bhotel.HOTEL_ID,HOTEL_NAME
	</sql>

	<select id="getIDCFacilitiesListPaged" resultMap="BaseResultMap"
		parameterType="map">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		BFACILITIES,bhotel,l_facilities_hotel where
		BFACILITIES.FACILITIES_ID = l_facilities_hotel.FACILITIES_ID AND
		l_facilities_hotel.HOTEL_ID = bhotel.HOTEL_ID limit
		#{startIndex},#{pageSize}

	</select>

</mapper>


