<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.LHotelFacilitiesMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.view.LHotelFacilities">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="HOTEL_ID" jdbcType="CHAR" property="hotelId" />
		<result column="FACILITY_ID" jdbcType="CHAR" property="facilitiesId" />

	</resultMap>


	<sql id="Base_Column_List">
		ID,HOTEL_ID,FACILITY_ID
	</sql>
	<insert id="insertLink" useGeneratedKeys="true" parameterType="map"
		keyProperty="id">
		INSERT
		INTO
		l_facilities_hotel
		(HOTEL_ID,FACILITIES_ID)
		VALUES
		(#{hotelId},#{facilitiesId})
	</insert>

	<update id="updateLink" parameterType="map">
		update l_facilities_hotel
		set
		FD_ID = #{newFacilityId}
		where
		HOTEL_ID=#{hotelId} AND FACILITY_ID=#{oldFacilityId}
	</update>

	<delete id="deleteLink" parameterType="java.lang.String">
		DELETE FROM l_facilities_hotel
		WHERE  FACILITIES_ID=#{facilitiesId}
	</delete>
	
	<delete id="deleteLinkByHotelId" parameterType="java.lang.String">
		DELETE FROM l_facilities_hotel
		WHERE HOTEL_ID=#{hotelId}
	</delete>
	
	
	
</mapper>