<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.LHotelMktMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.view.LHotelMkt">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="HOTEL_ID" jdbcType="CHAR" property="hotelId" />
		<result column="MKT_ID" jdbcType="CHAR" property="mktId" />

	</resultMap>


	<sql id="Base_Column_List">
		ID,HOTEL_ID,MKT_ID
	</sql>
	<insert id="insertLink" useGeneratedKeys="true" parameterType="map"
		keyProperty="id">
		INSERT
		INTO
		l_mkt_hotel
		(HOTEL_ID,MKT_ID)
		VALUES
		(#{hotelId},#{mktId})
	</insert>

	<update id="updateLink" parameterType="map">
		update l_mkt_hotel
		set
		MKT_ID = #{newMktId}
		where
		HOTEL_ID=#{hotelId} AND MKT_ID=#{oldMktId}
	</update>

	<delete id="deleteLink" parameterType="java.lang.String">
		DELETE FROM l_mkt_hotel
		WHERE  MKT_ID=#{mktId}
	</delete>
	
	<delete id="deleteLinkByHotelId" parameterType="java.lang.String">
		DELETE FROM l_mkt_hotel
		WHERE HOTEL_ID=#{hotelId}
	</delete>
</mapper>