<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.LHotelTrafficMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.view.LHotelTraffic">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="HOTEL_ID" jdbcType="CHAR" property="hotelId" />
		<result column="TRAFFIC_ID" jdbcType="CHAR" property="trafficId" />

	</resultMap>


	<sql id="Base_Column_List">
		ID,HOTEL_ID,TRAFFIC_ID
	</sql>
	<insert id="insertLink" useGeneratedKeys="true" parameterType="map"
		keyProperty="id">
		INSERT
		INTO
		l_traffic_hotel
		(HOTEL_ID,TRAFFIC_ID)
		VALUES
		(#{hotelId},#{trafficId})
	</insert>

	<update id="updateLink" parameterType="map">
		update l_traffic_hotel
		set
		MKT_ID = #{newTrafficId}
		where
		HOTEL_ID=#{hotelId} AND TRAFFIC_ID=#{oldTrafficId}
	</update>

	<delete id="deleteLink" parameterType="java.lang.String">
		DELETE FROM l_traffic_hotel
		WHERE  TRAFFIC_ID=#{trafficId}
	</delete>
	
	<delete id="deleteLinkByHotelId" parameterType="java.lang.String">
		DELETE FROM l_traffic_hotel
		WHERE HOTEL_ID=#{hotelId}
	</delete>
</mapper>