<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.backend.mapper.LHotelViewMapper">
	<resultMap id="BaseResultMap" type="com.hotel.backend.view.LHotelView">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="HOTEL_ID" jdbcType="CHAR" property="hotelId" />
		<result column="VIEW_ID" jdbcType="CHAR" property="viewId" />

	</resultMap>


	<sql id="Base_Column_List">
		ID,HOTEL_ID,VIEW_ID
	</sql>
	<insert id="insertLink" useGeneratedKeys="true"
		parameterType="map" keyProperty="id">
		INSERT
		INTO
		l_view_hotel
		(HOTEL_ID,VIEW_ID)
		VALUES
		(#{hotelId},#{viewId})
	</insert>
	
	<update id="updateLink" parameterType="map">
		update l_view_hotel
		set
		VIEW_ID = #{newViewId}
		where
		HOTEL_ID=#{hotelId} AND VIEW_ID=#{oldViewId}
	</update>

	<delete id="deleteLink" parameterType="java.lang.String">
		DELETE FROM l_view_hotel
		WHERE VIEW_ID=#{viewId}
	</delete>
	
	<delete id="deleteLinkByHotelId" parameterType="java.lang.String">
		DELETE FROM l_view_hotel
		WHERE HOTEL_ID=#{hotelId}
	</delete>
	
	
</mapper>